In [106]:
import torch.nn as nn
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt

## One Hot Encoding and Whatnot, punc removal

In [107]:
# df = pd.read_csv("train.csv")

df = pd.DataFrame({
    "id": [1, 2, 3],
    "text": ["Hello! world.", "Machine learning is fun?", "Python, is great for data science"],
    "label": ["MWS", "EAP", "HPL"]
})

df.head()

   id                               text label
0   1                      Hello! world.   MWS
1   2           Machine learning is fun?   EAP
2   3  Python, is great for data science   HPL

In [108]:
import re
from sklearn.feature_extraction.text import CountVectorizer

labels = df["label"]
df = df.drop(columns=["id", "label"])

# Remove punctuation
to_remove = ['.', ',', '?', '!', ':', ';']
replacement = " "

pattern = "|".join(map(re.escape, to_remove))
df["text"] = df["text"].str.replace(pattern, replacement, regex=True)

# Tokenization
vectorizer = CountVectorizer(lowercase=True, binary=True) # Binary makes values 0/1
X = vectorizer.fit_transform(df["text"]).toarray()

onehot_df = pd.DataFrame(X, columns=vectorizer.get_feature_names_out())

df_onehot = pd.concat([onehot_df, labels], axis=0)

print(labels)
print(onehot_df)

0    MWS
1    EAP
2    HPL
Name: label, dtype: object
   data  for  fun  great  hello  is  learning  machine  python  science  world
0     0    0    0      0      1   0         0        0       0        0      1
1     0    0    1      0      0   1         1        1       0        0      0
2     1    1    0      1      0   1         0        0       1        1      0

In [ ]:
df = pd.DataFrame({"id": [1, 2, 3], "text": ["a", "b", "c"]})
onehot_df = pd.DataFrame({"apple": [1, 0, 1], "banana": [0, 1, 0]})

pd.concat([df, onehot_df], axis=1)

print(df)